.home-area {
  height: 100%;
}

.img-home {
  background-image: url('../img/home.png');
  background-position: center 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
